:root {
    --primaryColor: #ff901d;
    --softColor: #fedddd;
    --whiteColor: #f5f5f5;
    --blackColor: #222;
    --footerColor: #353434;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: auto;
    border-color: var(--softColor);
}

/* Shared Styles */
.display-flex {
    display: flex;
}

.white-text {
    color: #f5f5f5;
}

/* Navbar Section's Styles Starts Here */
.navbar {
    justify-content: space-between;
}

nav {
    background-color: var(--primaryColor);
    height: 70px;  
}

.nav-item {
    list-style: none;
    margin-right: 30px;
    margin-top: 25px;
}

.nav-link {
    text-decoration: none;
    font-weight: 600;
    color: var(--whiteColor);
}

.cswala {
    border: 1px solid var(--blackColor);
    border-radius: 30px;
    padding: 15px;
    color: var(--whiteColor);
    background-color: var(--blackColor);
}

.cswala-head {
    margin-top: 15px;
    margin-left: 30px;
    font-weight: 800;
    font-size: 30px;
}

.wala {
    color: var(--whiteColor);
}
/* Navbar Section's Styles Ends Here */

/* Header Section's Styles Starts Here */
.header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../Assets/Images/FAQ.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 3%;
    max-height: 388px;
    color: var(--whiteColor);
}

.header-title {
    font-size: 55px;
    letter-spacing: 1.5;
}

.header-description {
    font-size: 18px;
    letter-spacing: 1;
    text-align: center;
}
/* Header Section's Styles Ends Here */

/* Search Bar Section's Styles Starts Here */
.search {
    width: 60%;
    height: 50px;
    background-color: var(--whiteColor);
    margin-top: 5%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.search input {
    width: 80%;
    height: 100%;
    padding: 1% 3%;
    background: transparent;
    border: none;
}

.search button {
    width: 20%;
    min-width: 100px;
    height: 100%;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.search button:hover {
    background-color: var(--blackColor);
}
/* Search Bar Section's Styles Ends Here */

/* FAQ Section's Styles Starts Here */
.faq {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 3%;
}

.faq-name {
    flex: 0.5;
    padding: 2% 2% 0 0;
}

.faq-header {
    padding: 5% 0 0 0;
    font-size: 40px;
    letter-spacing: 2;
}

.faq-img {
    width: 100%;
    max-width: 400px;
}

.faq-box {
    flex: 1;
    min-width: 320px;
    padding: 2% 0 4% 4%;
    border-left: 2px solid var(--primaryColor);
}

.faq-wrapper {
    width: 100%;
    padding: 1.5rem;
    border-bottom: 1px solid var(--blackColor);
}

.faq-title {
    display: block;
    position: relative;
    width: 100%;
    letter-spacing: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaryColor);
}

/* Creating Arrow Beside Faq Title*/
.faq-title::after {
    width: 10px;
    height: 10px;
    content: "";
    float: right;
    border-style: solid;
    border-width: 2px 2px 0 0;
    transform: rotate(135deg);
    transition: 0.4s ease-in-out;
}

.faq-detail {
    line-height: 1.5;
    letter-spacing: 1;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    font-size: 20px;
}

.faq-trigger {
    display: none;
}

.faq-trigger:checked + .faq-title + .faq-detail {
    max-height: 300px;
}

.faq-trigger:checked + .faq-title::after {
    transform: rotate(-45deg);
    transition: 0.4s ease-in-out;
}
/* FAQ Section's Styles Ends Here */

/* Footer Section's Styles Starts Here */
footer {
    background: var(--footerColor);
    padding-top: 50px;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-content {
    width: 33.3%;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.list{
   padding: 0;
}

.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: var(--primaryColor);
    transition-duration: .5s;
}

.list li:hover::before {
    width: 70px;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i {
    color: var(--whiteColor);
    font-size: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--primaryColor);
}

.social-icons i:hover {
    color: var(--primaryColor);
}
/* Bottom Bar Section's Styles Starts Here */
.bottom-bar {
    background: var(--primaryColor);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p {
    color: var(--blackColor);
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
/* Bottom Bar Section's Styles Ends Here */
/* Footer Section's Styles Ends Here */

/* Media Query for Mobile View */
@media screen and (max-width:600px) {
    .search {
        width: 100%;
    }
    .faq-title {
        font-size: 20px;
    }
}